[submodule "ASSIGNMENTS/Basic_Stestics_level1/ASSIGNMENTS/basic_statistics_level1"]
	path = ASSIGNMENTS/Basic_Stestics_level1/ASSIGNMENTS/basic_statistics_level1
	url = https://github.com/Axayakumar/EXCELR.git
